<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shijian')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-shijian" class="form-control selectpicker" name="row[shijian]">
                {foreach name="shijianList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.shijian"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shangrijieyu')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shangrijieyu" data-rule="required" class="form-control" name="row[shangrijieyu]" type="number" value="{$row.shangrijieyu|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kehulaikuan')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kehulaikuan" data-rule="required" class="form-control" name="row[kehulaikuan]" type="number" value="{$row.kehulaikuan|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zhichutuihui')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zhichutuihui" data-rule="required" class="form-control" name="row[zhichutuihui]" type="number" value="{$row.zhichutuihui|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Qitashouru')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-qitashouru" data-rule="required" class="form-control" name="row[qitashouru]" type="number" value="{$row.qitashouru|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Meijinduiru')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-meijinduiru" data-rule="required" class="form-control" name="row[meijinduiru]" type="number" value="{$row.meijinduiru|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Meijinduichu')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-meijinduichu" data-rule="required" class="form-control" name="row[meijinduichu]" type="number" value="{$row.meijinduichu|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kehuchukuan')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kehuchukuan" data-rule="required" class="form-control" name="row[kehuchukuan]" type="number" value="{$row.kehuchukuan|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zhichu')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zhichu" data-rule="required" class="form-control" name="row[zhichu]" type="number" value="{$row.zhichu|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shouxufei')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shouxufei" data-rule="required" class="form-control" name="row[shouxufei]" type="number" value="{$row.shouxufei|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Jingyingkui')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-jingyingkui" data-rule="required" class="form-control" name="row[jingyingkui]" type="number" value="{$row.jingyingkui|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Jinrijieyu')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-jinrijieyu" data-rule="required" class="form-control" name="row[jinrijieyu]" type="number" value="{$row.jinrijieyu|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Iszhengque')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-iszhengque" data-rule="required" class="form-control selectpicker" name="row[iszhengque]">
                {foreach name="iszhengqueList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.iszhengque"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Beiyongjinshangrijieyu')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-beiyongjinshangrijieyu" data-rule="required" class="form-control" name="row[beiyongjinshangrijieyu]" type="number" value="{$row.beiyongjinshangrijieyu|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Beiyonghjinzhuanchu')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-beiyonghjinzhuanchu" data-rule="required" class="form-control" name="row[beiyonghjinzhuanchu]" type="number" value="{$row.beiyonghjinzhuanchu|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Beiyongjinjieyu')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-beiyongjinjieyu" data-rule="required" class="form-control" name="row[beiyongjinjieyu]" type="number" value="{$row.beiyongjinjieyu|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Beiyongjinhedui')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-beiyongjinhedui" data-rule="required" class="form-control selectpicker" name="row[beiyongjinhedui]">
                {foreach name="beiyongjinheduiList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.beiyongjinhedui"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Linshidongjie')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-linshidongjie" data-rule="required" class="form-control" name="row[linshidongjie]" type="number" value="{$row.linshidongjie|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sanfangweijie')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sanfangweijie" data-rule="required" class="form-control" name="row[sanfangweijie]" type="number" value="{$row.sanfangweijie|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Houtailiudongzijin')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-houtailiudongzijin" data-rule="required" class="form-control" name="row[houtailiudongzijin]" type="number" value="{$row.houtailiudongzijin|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Beizhu')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-beizhu" data-rule="required" class="form-control" name="row[beizhu]" type="text" value="{$row.beizhu|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Operator')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-operator" class="form-control" name="row[operator]" type="text" value="{$row.operator|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
