<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Redeemtheaccount')}:</label>
         
		
		   		    <div class="col-xs-12 col-sm-5" data-toggle="cxselect" data-selects="province,city,area">
<select   id = "zhuanru" class="province form-control" name="row[Redeemtheaccount]" data-url="/admin/category/banklist"></select>
 
 
</div>
        <label class="control-label col-xs-12 col-sm-2">模糊搜索:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-zhuanrumohu" class="form-control"  oninput="console.log('input');"  type="text">
    </div>
    <div class="form-group" style="display: none;">
        <label class="control-label col-xs-12 col-sm-2">{:__('Redeemtheaccouid')}:</label>
        <div class="col-xs-12 col-sm-5">
            <input id="c-Redeemtheaccouid" data-rule="required" class="form-control" name="row[Redeemtheaccouid]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-5">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="0"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Redeemintotheaccount')}:</label>
        
			    <div class="col-xs-12 col-sm-5" data-toggle="cxselect" data-selects="province,city,area">
<select  id="zhuanchu"  class="province form-control" name="row[Redeemintotheaccount]" data-url="/admin/category/banklist"></select>
 
 
</div>
		  <label class="control-label col-xs-12 col-sm-2">模糊搜索:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-zhuanchumohu" class="form-control" name="row[beizhu]" type="text">
        </div>
    </div>
    <div class="form-group"  style="display: none;">
        <label class="control-label col-xs-12 col-sm-2">{:__('Redeemintotheaccountid')}:</label>
        <div class="col-xs-12 col-sm-5">
            <input id="c-Redeemintotheaccountid" data-rule="required" class="form-control" name="row[Redeemintotheaccountid]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cashoutamount')}:</label>
        <div class="col-xs-12 col-sm-5">
            <input id="c-CashoutAmount" data-rule="required" class="form-control" step="0.01" name="row[CashoutAmount]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Redemptioamount')}:</label>
        <div class="col-xs-12 col-sm-5">
            <input id="c-Redemptioamount" data-rule="required" class="form-control" step="0.01" name="row[Redemptioamount]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Exchangerate')}:</label>
        <div class="col-xs-12 col-sm-5">
            <input id="c-exchangerate" data-rule="required" class="form-control" step="0.01" name="row[exchangerate]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Handlingee')}:</label>
        <div class="col-xs-12 col-sm-5">
            <input id="c-Handlingee" data-rule="required" class="form-control" step="0.01" name="row[Handlingee]" type="number">
        </div>
    </div>
    <div class="form-group" style="display: none;">
        <label class="control-label col-xs-12 col-sm-2">{:__('Redeemtheaccountqmoney')}:</label>
        <div class="col-xs-12 col-sm-5">
            <input id="c-Redeemtheaccountqmoney" data-rule="required" class="form-control" step="0.01" name="row[Redeemtheaccountqmoney]" type="number" value="0">
        </div>
    </div>
    <div class="form-group" style="display: none;">
        <label class="control-label col-xs-12 col-sm-2">{:__('Redeemtheaccounthmoney')}:</label>
        <div class="col-xs-12 col-sm-5">
            <input id="c-Redeemtheaccounthmoney" data-rule="required" class="form-control" step="0.01" name="row[Redeemtheaccounthmoney]" type="number" value="0">
        </div>
    </div>
    <div class="form-group" style="display: none;">
        <label class="control-label col-xs-12 col-sm-2">{:__('Redeemintotheaccountqmoney')}:</label>
        <div class="col-xs-12 col-sm-5">
            <input id="c-Redeemintotheaccountqmoney" data-rule="required" class="form-control" step="0.01" name="row[Redeemintotheaccountqmoney]" type="number" value="0">
        </div>
    </div>
    <div class="form-group" style="display: none;">
        <label class="control-label col-xs-12 col-sm-2">{:__('Redeemintotheaccounthmoney')}:</label>
        <div class="col-xs-12 col-sm-5">
            <input id="c-Redeemintotheaccounthmoney" data-rule="required" class="form-control" step="0.01" name="row[Redeemintotheaccounthmoney]" type="number" value="0">
        </div>
    </div>
  <div class="form-group" style="display: none;">
        <label class="control-label col-xs-12 col-sm-2">{:__('Operator')}:</label>
        <div class="col-xs-12 col-sm-5">
              <input id="c-operator" data-rule="required" class="form-control" name="row[operator]" type="text" value="{$admin.username}">
        </div>
    </div>
	
		     <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Createtime')}:</label>
        <div class="col-xs-12 col-sm-5">
            <input id="c-beizhu" class="form-control" name="row[createtime]" type="text">
        </div>
    </div>
	
	
	
	  <div class="form-group" >
        <label class="control-label col-xs-12 col-sm-2">{:__('Beizhu')}:</label>
        <div class="col-xs-12 col-sm-5">
              <input id="c-operator" data-rule="required" class="form-control" name="row[beizhu]" type="text" >
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-5">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<script type="text/javascript">
document.getElementById('c-zhuanrumohu').oninput=function(){
if(document.getElementById('c-zhuanrumohu').value.length > 0){
	var name =  document.getElementById('c-zhuanrumohu').value;
 $.get("/admin/category/banklist?name="+name,function(data,status){
    
  jQuery("#zhuanru").empty();  
  
  $("#zhuanru").append("<option value='查询成功"+data.data.length+"个符合条件'>查询成功"+data.data.length+"个符合条件</option>");   
for(var i = 0, len = data.data.length; i < len; i++){
 $("#zhuanru").append("<option value='"+data.data[i].name+"'>"+data.data[i].name+"</option>");
}
});	
}else{
 $.get("/admin/category/banklist",function(data,status){
    
  jQuery("#zhuanru").empty();  
  $("#zhuanru").append("<option value='请选择'>请选择</option>");   
for(var i = 0, len = data.data.length; i < len; i++){
 $("#zhuanru").append("<option value='"+data.data[i].name+"'>"+data.data[i].name+"</option>");
}
});	
}
}

document.getElementById('c-zhuanchumohu').oninput=function(){
if(document.getElementById('c-zhuanchumohu').value.length > 0){
	var name =  document.getElementById('c-zhuanchumohu').value;
 $.get("/admin/category/banklist?name="+name,function(data,status){
    
  jQuery("#zhuanchu").empty();  
  
  $("#zhuanchu").append("<option value='查询成功"+data.data.length+"个符合条件'>查询成功"+data.data.length+"个符合条件</option>");   
for(var i = 0, len = data.data.length; i < len; i++){
 $("#zhuanchu").append("<option value='"+data.data[i].name+"'>"+data.data[i].name+"</option>");
}
});	
}else{
 $.get("/admin/category/banklist",function(data,status){
    
  jQuery("#zhuanchu").empty();  
  $("#zhuanchu").append("<option value='请选择'>请选择</option>");   
for(var i = 0, len = data.data.length; i < len; i++){
 $("#zhuanchu").append("<option value='"+data.data[i].name+"'>"+data.data[i].name+"</option>");
}
});	
}
}












</script>