<form class="form-horizontal form-commonsearch nice-validator n-default n-bootstrap" novalidate="" method="post" action="">
	<fieldset>
		<div class="row">
 
			<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3"><label for="status" class="control-label col-xs-4">查询类型</label>
				<div class="col-xs-8"><input type="hidden" class="form-control operate" name="status-operate" data-name="status"
					 value="=" readonly=""><select id = "status" class="form-control" name="status">
						<option value="">选择</option>
						<option value="0">人民币支出类型报表</option>
						<option value="1">美金支出类型报表</option>
						<option value="2">人民币支出部门报表</option>
						<option value="3">美金支出部门报表</option>
						<option value="4">每日支出美金报表</option>
						<option value="5">每日支出人民币报表</option>
						<option value="6">每日收款报表</option>
						<option value="7">每日出款报表</option>
						<option value="8">每日存取款盈亏报表</option>
 					
					</select></div>
			</div> 
 
			<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3"><label for="createtime" class="control-label col-xs-4">开始时间</label>
				<div class="col-xs-8"><input type="hidden" class="form-control operate" name="createtime-operate" data-name="createtime"
						 value="RANGE" readonly="">
		 
						  <input   id = "kaishishijian" type="datetime" class="form-control datetimepicker" name="kaishishijian" value="" placeholder="开始时间" id="s" data-date-format="YYYY-MM-DD" />
 
						
						 
						 </div>
			</div>
			<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3"><label for="updatetime" class="control-label col-xs-4">结束时间</label>
				<div class="col-xs-8"><input   type="hidden" class="form-control operate" name="updatetime-operate" data-name="updatetime"
					 value="RANGE" readonly="">
				 	 <input  id = "jieshushijian" type="datetime" class="form-control datetimepicker" name="jieshushijian" value="" placeholder="结束时间" id="s" data-date-format="YYYY-MM-DD" /></div>
			</div>
	 
			<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="col-sm-8 col-xs-offset-4"><button  id = "text1" type="button" class="btn btn-success" formnovalidate="">提交</button>
					<button type="reset" class="btn btn-default">重置</button> </div>
			</div>
		</div>
	</fieldset>
</form>
 

 
















                  <div id="echart" style="width: 100%;height:600px;">报表</div>
  
